.MboUtrecht3backgroundimg {
    background-image: url('/assets/img/MboUtrecht3.jpg');
}

.BlackNSolidB {
    /*color: black;*/
    border-style: solid;
}

.BackgroundimgMBO2 {
    background-image: url('/assets/img/background1.png');
}

.alignJustify {
    text-align: justify;
}

.BottomRem {
    margin-bottom: 1rem;
}