.MboUtrecht3backgroundimg {
    background-image: url('https://raw.githubusercontent.com/sanderDijkxhoorn/MboUtrechtBS-PROPRAK/main/assets/img/MboUtrecht3.jpg');
}

.BlackNSolidB {
    /*color: black;*/
    border-style: solid;
}

.BackgroundimgMBO2 {
    background-image: url('https://raw.githubusercontent.com/sanderDijkxhoorn/MboUtrechtBS-PROPRAK/main/assets/img/best-background-for-website-02.jpg');
}

.alignJustify {
    text-align: justify;
}

.BottomRem {
    margin-bottom: 1rem;
}