.accordion-item {
  background-color: #3d57ac;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.accordion-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #3d57ac;
}

.accordion-item:target .answer {
  max-height: 100%;
}

.accordion-item a.accordion-link {
  color: rgb(0, 0, 0);
  font-size: large;
}